// ARTIST SECTION

.mainBody {
  background-color: $spotifyBlack;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .artistContainer {
    background-position-y: -170px;
    background-size: cover;
    height: 340px;
    .verifiedArtist {
      @include fontStyle($fontFamily, 0.8rem, white);
      margin: 0;
    }
    .songTitle {
      @include fontStyle($fontFamily, 5rem, white);
      font-weight: 700;
      margin-bottom: 1rem;
    }
    .monthlyViewers {
      @include fontStyle($fontFamily, 1rem, white);
      margin: 0;
    }
  }
}

// FOLLOWING SECTION

.mainBody {
  .following {
    background-color: $spotifyBlack;
    button {
      @include button($mainGreen);
      border-radius: 50%;
      margin-right: 2rem;
      border: none;
      padding: 0 8px 0 11px;
    }
    .followBtn {
      height: 2rem;
      margin: 0;
      margin-right: 2rem;
      padding: 0 1rem;
      padding-top: 3px;
      border: 1px solid white;
      border-radius: 8px;
      @include fontStyle($fontFamily, 1rem, white);
    }
    p:last-child {
      @include fontStyle($fontFamily, 2rem, grey);
      margin: 0;
      padding-bottom: 10px;
    }
  }
}

// SONGS SECTION

.mainBody {
  .songsSection {
    background: linear-gradient(
      180deg,
      rgba(50, 50, 50, 1) 0%,
      rgba(25, 20, 20, 1) 39%
    );
    color: white;
    h4 {
      @include fontStyle($fontFamily, 1.3rem, white);
      font-weight: 700;
    }
  }
  .likedSection {
    .likedImg {
      border-radius: 50%;
      transform: scale(0.7);
    }
    .likedSong {
      p {
        @include fontStyle($fontFamily, 0.8rem, white);
        font-weight: 700;
        margin: 0;
      }
      .likedArtist {
        font-weight: 400;
        @include fontStyle($fontFamily, 0.7, rgb(186, 186, 186));
      }
    }
  }
}

/* width */
.mainBody::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.mainBody::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.mainBody::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.mainBody::-webkit-scrollbar-thumb:hover {
  background: #555;
}
