.albumSection {
  margin: 0 auto;
  background: rgb(25, 20, 20);
  background: linear-gradient(
    0deg,
    rgba(25, 20, 20, 1) 45%,
    rgba(221, 191, 79, 1) 100%
  );
  color: white;
  font-family: $fontFamily;
  #profile {
    background-color: $spotifyBlack;
    border-radius: 20px;
    padding: 0 4px;
  }
  #description p,
  #profile p {
    font-size: xx-small;
  }
  #albumDateSmall {
    font-size: xx-small !important;
  }
  .section2 {
    background-color: rgba(0, 0, 0, 0.322);
    button {
      background-color: $mainGreen;
      padding: 0 8px 0 11px;
      @include button($secondaryGreen);
      border-radius: 50%;
      margin-right: 2rem;
      border: none;
      padding: 0 8px 0 11px;
      @media screen and (max-width: 990px) {
        color: white;
        background-color: $mainGreen;
      }
    }
    i {
      font-size: 14px;
    }
    p {
      font-size: 14px;
    }
  }
}
