.albumSection {
  margin: 0 auto;
  background: rgb(25, 20, 20);
  background: linear-gradient(
    0deg,
    rgba(25, 20, 20, 1) 25%,
    rgb(231, 200, 88) 100%
  );
  color: white;
  font-family: $fontFamily;
  #profile {
    background-color: $spotifyBlack;
    border-radius: 20px;
    padding: 0 4px;
  }
  #description p,
  #profile p {
    font-size: xx-small;
  }
  .section2 {
    background-color: rgba(0, 0, 0, 0.4);
    button {
      background-color: $mainGreen;
      padding: 0 8px 0 11px;
      border: none;
      border-radius: 100%;
      i {
        font-size: large;
      }
    }
    p,
    i {
      font-size: 0.7em;
    }
  }
}
