header {
    background-color: $spotifyBlack;
    color: white;
    padding: 1% 2%;
    section {
        margin-bottom: 5%;

    }
}

.navBarMenu {
    width: 100%;
    border-bottom: 1px solid white;
    a{
        text-decoration: none;
        color: white;
    }
    p{
        display: flex;
        span {
            margin-right: 3%;
            cursor: pointer;
        }
    }
    div {
        margin-bottom: 15%;
    }
}

.navBarPlaylist { 
    @include BWoverflow;
    height: 200px;
    p {
        font-size: 0.7em;
    }
}