.sectionPlayBar {
  background-color: $playBarColor;
  color: white;
  padding: 1%;
  width: 100%;
  position: fixed;
  bottom: 0;
  @media screen and (max-width: 768px) {
    bottom: 6%;
  }
  i {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.2em;
  }
  &:hover {
    cursor: pointer;
  }
  .bi-play-circle,
  .bi-pause-circle {
    font-size: 2.1em;
  }
}

.playBar {
  width: 60%;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: #afafaf;
  border-radius: 5px;
  background-image: linear-gradient(#ffffff, #fffbfb);
  background-size: 100%;
  background-repeat: no-repeat;
}

.mouseOver::-webkit-slider-thumb {
  display: none;
}

.mouseOver1::-webkit-slider-thumb {
  display: block;
  transform: scale(0.8);
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #afafaf;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

@media screen and (max-width: 768px) {
  .playBar {
    display: none !important;
  }
}
.timerCurrent,
.totalTimer {
  width: 35px;
  font-size: 0.8em;
  margin: 0% 3%;
}

.containerBar {
  width: 350px;
  background-color: gray;
  border-radius: 10px;
  height: 7px;
}
.barra {
  border-radius: 10px;
  height: 7px;
  width: 200px;
  background: grey;
}

@keyframes animazione {
  0% {
    background: white;
    width: 0px;
  }
  100% {
    background: white;
    width: -20px;
  }
}
